@import url('css/bootstrap.min.css');
@import url('css/bootstrap-responsive.min.css');
@import url('css/jquery.select.css');
@import url('theme/jquery-ui-1.8.16.custom.css');

@font-face
{
    font-family: 'MyEffraRegular';
    src: url('fonts/effra-webfont.eot');
    src: url('fonts/effra-webfont.eot?#iefix') format('embedded-opentype'), 
    url('fonts/effra-webfont.woff') format('woff'), 
    url('fonts/effra-webfont.ttf') format('truetype'), 
    url('fonts/effra-webfont.svg#EffraRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#header
{
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index: 2;
}

#header .logo-container
{
	margin: 0 auto;
	position: relative;
}

#header .logo-container .logo
{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 101;
	width: 80px;
	height: 98px;
}

#header .logo-container .logo a
{
	background-image: url(images/linn-logo.png);
	width: 80px;
	height: 98px;
	display: block;
}

#header .logo-container .strapline
{
	position: absolute;
	right: 110px;
	top: 6px;
}

.img-wrapper
{
	width: 100%;
	height: auto;
	/*background-repeat: repeat-y; /*repeat-y is temporary until we get images that support height of content */
	background-position: center 0px;
	background-color: #fff;
	background-size: 100%;
}

.body #systems-details-top.img-wrapper
{
	background-image: url(images/background.png);
	background-attachment: fixed;
}

#header .navigation
{
    background: url(images/navigation-background.png) repeat;
    background: rgba(255,255,255,0.5);
    height: 35px;
    width: 100%; 
      
}

#header .sub-navigation
{
    background: url(images/subnavigation-background.png) repeat;
    background: rgba(255,255,255,0.1);
    height: 35px;
	width: 100%;		
}

#header .navigation ul,
#header .sub-navigation ul
{
    margin: 0; /* center the ULs inside their parent divs */
    list-style: none;        
    padding:0px;
    
}

#header .navigation ul li,
#header .sub-navigation ul li
{
    float: left; position: relative;
}

#header .navigation ul li,
#header .sub-navigation ul li {  height: 35px; line-height: 35px; }

#header ul li a 
{ 
    color: #fff; 
    text-decoration: none; 
    text-transform: uppercase;     
    display: block; 
    padding: 0 20px;     
}

#header .navigation ul li a
{
    background-image: url(images/main-nav-spacer.png);
    background-position: right;
    background-repeat: no-repeat;
}

#header .navigation ul li a.last { background: none; }

#header .navigation ul li a.selected { background: #f0f0f0; color: #000; }
#header .navigation ul li:hover a  { background: #fff !important; color: #000; }

#header .float-left { float: left; }

#header .sub-navigation ul li a:hover,
#header .sub-navigation ul li a.selected { text-decoration: underline; }

#header ul li a { font-family: 'MyEffraRegular', Arial, Helvetica, sans-serif;color: #fff; text-transform: uppercase; }

#header-background
{
    position: fixed;
    background-image: url(images/background_t.png);
	background-position: center 0px;
	background-color: transparent;
	background-size: 100%;
	background-repeat: no-repeat;
    height: 110px;
    width: 100%;
    z-index: 1;
}

.productversion
{
    font-size: 20px;
}

div.hero-unit
{
	margin-top: 120px;
	margin-bottom: 0px;
}

div.page-header
{
	padding-top: 40px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

div.row
{
	margin-left: 0px;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

body, div.body
{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

div.hero-unit,
div.row
{
	background-color: white;
}

div.hero-unit h1 img
{
    width: 106px;
    height: 106px;
}

div.page-header > div.row
{
    background-color: white;
}

div#itunes,
div#web,
div#playlists,
div#advanced
{
    position: relative;
    top: -80px;
}

input, select
{
    font-weight: normal;
    background-color: white;
    color: black;
    border: 1px black solid;
    border-radius: 0px;
}

footer
{
	margin-top: 70px;
}

h1
{
    font-family: 'MyEffraRegular', Arial, Helvetica, sans-serif;
    font-weight: normal;
	font-size: 40px;
	line-height: 46px;
	color: black;
}

h1 > small
{
    font-family: 'MyEffraRegular', Arial, Helvetica, sans-serif;
    font-weight: normal;
	font-size: 24px;
	color: black;
}

h2
{
    font-family: 'MyEffraRegular', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

h3, h4, p, button
{
    font-family: 'MyEffraRegular', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: black;
}

h4
{
    font-size: 25px;
    line-height: 30px;
}

p
{
    font-family: Arial, Helvetica, sans-serif;
}

button.btn
{
    font-family: 'MyEffraRegular', Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 75px;
    text-align: center;
    color: White;
    background-color: Black;
    border: 1px black solid;
    border-radius: 0px;
    text-shadow: none;
}

button.btn:hover
{
    color: White;
}

button.btn, input
{
	margin-right: 5px;
	margin-bottom: 5px;
	height: 26px;
	background-image: none;
}

button.btn:hover,
button.btn:active,
button.btn.active
{
    background-color: black;
}

button.btn.disabled,
button.btn[disabled]
{
    color: black;
    background-color: white;
    text-shadow: none;
}

button.button-refresh img
{
    display: none;
    width: 18px;
    height: 18px;
    opacity: 0.6;
}

button.button-refresh div
{
    display: inline;
}

button.button-refresh.refreshing
{
    opacity: 1.0;
}

button.button-refresh.refreshing img
{
    display: inline;
}

button.button-refresh.refreshing div
{
    display: none;
}

div#last-scan
{
    display: inline;
    font-style: italic;
}

ul#web-apps
{
	margin: 0px;
	list-style-type: none;
}

ul#web-apps li
{
	padding: 5px;
	background-color: #A1958A;
    overflow: hidden;
    min-height: 100px;
}

ul#web-apps li:nth-child(even)
{
	background-color: #C6BFB7;
}

div.app-artwork
{
	width: 70px;
    float: left;
}

div.app-buttons
{
    float: right;
	width: 75px;
}

div.app-details
{
    margin-left:82px;
    margin-right: 70px;
    color: Black;
}

div.app-name
{
    font-family: 'MyEffraRegular', Arial, Helvetica, sans-serif;
    color: Black;
    font-weight: normal;
    font-size: 14pt;
    padding-bottom: 3px;
}

div.app-description
{
    color: Black;
}

div.app-period
{
}

/*
    Toggle buttons
*/

input.toggle-button-section
{
    font-family: 'MyEffraRegular', Arial, Helvetica, sans-serif;
    display: block;
	width: 84px;
	height: 24px;
	background-color: White;
	border-width: 1px black solid;
	cursor:pointer;
    float: right;
    margin: 5px 0 0 0;
}

div.toggle-button-section
{
    font-family: 'MyEffraRegular', Arial, Helvetica, sans-serif;
	display: block;
	width: 84px;
	height: 24px;
	background-color: White;
	border: 1px black solid;
	cursor:pointer;
    float: right;
    margin: 5px 0 0 0;
}

div.toggle-button-label
{
    font-family: 'MyEffraRegular', Arial, Helvetica, sans-serif;
    height: 24px;
    line-height: 24px;
    color: White;
    background-color: Black;
    width: 50%;
    text-align: center;
    display: none;
}

div.toggle-button-label.on
{
    display: block;
}

div.toggle-button-label.on:hover
{
    /*background-color: #777777;*/
}

div.on-label
{
    float: left;
    border-right: 1px black solid;
}

div.off-label
{
    float: right;
    border-left: 1px black solid;
}

div.toggle-button-app
{
    font-family: 'MyEffraRegular', Arial, Helvetica, sans-serif;
	display: block;
	width: 73px;
	height: 22px;
	background-color: White;
	border: 1px black solid;
	cursor:pointer;
    margin: 0 0 5px 0;
}

div.toggle-button-app-label
{
    font-family: 'MyEffraRegular', Arial, Helvetica, sans-serif;
    height: 22px;
    line-height: 22px;
    color: White;
    background-color: Black;
    width: 50%;
    text-align: center;
    display: none;
}

div.toggle-button-app-label.on
{
    display: block;
}

div.toggle-button-app-label.on:hover
{
    /*background-color: #777777;*/
}




