#TransportControlThreeKArray
{
	background-image:url('../../Images/Widgets/3kArray.png');
	background-repeat:no-repeat;
	width:170px;
	height:100px;
	position:relative;
	padding:0;
	display:inline-block;	
}

#TransportControlTransportButton
{
	position:absolute;
	left:53px;
	top:20px;
	border-style:none;
}

#TransportControlPreviousButton,
#TransportControlNextButton
{
	position:absolute;
	border-style:none;
}

#TransportControlNextButton
{
	left:115px;
	top:31px;
}	
#TransportControlPreviousButton
{
	left:19px;
	top:31px;
}		
