html,
body {
   background-image:url(../Resources/GradientBlue.png);
   background-repeat:repeat-x;
   margin:0;
   padding:0;
   height:95%;
}
input
{
    width:15%;
	background:no-repeat top;
}
h1
{
   font:20px arial,sans-serif;
}
p
{
   font:15px arial,sans-serif;
}
   
#container 
{
   margin-top:0px; /*seems to have ~15px top margin */
   min-height:100%;
   height:100%;
   position:relative;
}
#header {
   height:12%;
}
#progress 
{    
    height:100%;
}
#body {
   padding:5%;
   height:46%;
   margin-bottom:5%;
}
#troubleshoot 
{
   position:absolute;
   bottom:0;
   padding:0%;
   height:10%;
}
#MainImage {
   width:100%; /* must be done to scale image */
   height:100%;
}

.col_image,
.col_text {
	float:left;
	position:relative;
	overflow:hidden;
	width:100%;			/* width of whole page */
	height:inherit;
}
.col_image 
{
	width:300px;
	height:200px;
	z-index:-1;
	vertical-align:middle;
}
.col_text {
	width:55%;
	height:100%;
	padding-left:5%;	
}

#footer {
   bottom:0;
   width:100%;
   height:10%;   /* Height of the footer */
}
#sub_footer {
   bottom:0;
   width:100%;
   height:5%;   /* Height of the footer */
   padding-bottom:1px;   /* Height of the bottomline */
   font:10px arial,sans-serif;
}
.Product
{
    float:left;
    margin:5%;
}
.ProgressBar
{
    float:left;
    width:100px;
    height:50px;
    margin:0%;
}
.Exit 
{
	float:right;
	width:2%;
    margin-top:0%;
    margin-right:2%;
	position:relative;
	background-color:Gray;
}
.col_linnweblink,
.col_status,
.col_navigate {
	float:left;
	margin-left:5%;
	position:relative;
	padding:0 0 0 0;	
	overflow:hidden;
	width:100%;			/* width of whole page */
}
.col_linnweblink {
	float:left;
	width:20%;
}
.col_status {
	float:left;
	width:30%;
}
.col_navigate 
{
    float:right;
	width:20%;
}

.productweblink {
	float:left;
	padding-left:2%;
}
.Previous 
{
}
.Troubleshoot 
{    
   height:100%;
   width:5%;
   float:left;
   margin-right:2%;
}
.Next 
{   
}

#bottomline { /* used to anchor to bottom of page */
   position:absolute;
   bottom:0;
   width:100%;
   height:1px; 
}
