<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SneakyRadio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SneakyRadio.Properties.Settings>
            <setting name="SneakyRadio_RenderingControl_RenderingControlService"
                serializeAs="String">
                <value>RenderingControl</value>
            </setting>
            <setting name="SneakyRadio_AVTransport_AVTransportService" serializeAs="String">
                <value>AVTransport</value>
            </setting>
        </SneakyRadio.Properties.Settings>
    </applicationSettings>
</configuration>