.PlayModeButton
{
	width:33px;
	height:25px;
	background-repeat: no-repeat;
	float: left;
}

#PlayModeToggleRepeat
{
	
	width:25px;
}

.PlayModeButton.ToggleShuffle
{
	background-image: url("../../Images/Widgets/Shuffle.png");
}
.PlayModeButton.ToggleShuffle.Hover
{
	background-image: url("../../Images/Widgets/ShuffleMouse.png");
}
.PlayModeButton.ToggleShuffle.Active
{
	background-image: url("../../Images/Widgets/ShuffleActive.png");
}
.PlayModeButton.ToggleShuffle.Hover.Active
{
	background-image: url("../../Images/Widgets/ShuffleActiveMouse.png");
}



.PlayModeButton.ToggleRepeat
{
	background-image: url("../../Images/Widgets/Repeat.png");
}
.PlayModeButton.ToggleRepeat.Hover
{
	background-image: url("../../Images/Widgets/RepeatMouse.png");
}
.PlayModeButton.ToggleRepeat.Active
{
	background-image: url("../../Images/Widgets/RepeatActive.png");
}
.PlayModeButton.ToggleRepeat.Hover.Active
{
	background-image: url("../../Images/Widgets/RepeatActiveMouse.png");
}
