#SourceSelector label
{
	padding-right:10px;
}
#SourceSelector 
{
	width:49%;
	margin:0px;
	padding:0px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
}
#SourceSelector  select
{
	width:100%;
}