body 
{
    background-color: Black;
    margin: 0px;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#chrome
{
    visibility: visible;
}

#topleftedge
{
    position: absolute;
    background-image: url('TopLeftEdge.png');
    width: 8px;
    height: 8px;
}

#topfiller
{
    position: absolute;
    background-image: url('TopFiller.png');
    width: 100%;
    height: 8px;
    z-index: -1;
}

#toprightedge
{
    position: absolute;
    background-image: url('TopRightEdge.png');
    right: 0px;
    width: 12px;
    height: 8px;
}

#leftfiller
{
    position: absolute;
    background-image: url('LeftFiller.png');
    width: 7px;
    height: 100%;
    z-index: -1;
}

#rightfiller
{
    position: absolute;
    background-image: url('RightFiller.png');
    right: 0px;
    width: 7px;
    height: 100%;
    z-index: -1;
}

#bottomleftedge
{
    position: absolute;
    background-image: url('BottomLeftEdge.png');
    bottom: 0px;
    width: 8px;
    height: 43px;
}

#bottomfiller
{
    position: absolute;
    background-image: url('BottomFiller.png');
    bottom: 0px;
    width: 100%;
    height: 43px;
    z-index: -3;
}

#bottomrightedge
{
    position: absolute;
    background-image: url('BottomRightEdge.png');
    bottom: 0px;
    right: 0px;
    width: 8px;
    height: 43px;
}

#room 
{
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 22px;
    font-family: Arial;
    color: White;
    text-align: center;
}

#rotary 
{
    position: relative;
    margin-top: 25px;
    margin-left: 47px;
    width: 196px;
    height: 196px;
}

#wheel 
{
    background-image: url('WheelLarge.png');
    width: 196px;
    height: 196px;
}

#grip 
{
    background-image: url('ScrewsLarge.png');
    width: 196px;
    height: 196px;
}

#textwrapper 
{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 26px;   /* calculated from font-size of #text div */
    z-index:-1;
}

#text 
{
    position: relative;
    top: -50%;
    left: -50%;
    font-size: 22px;
    font-family: Arial;
    color: White;
    z-index:-1;
}

#progressbar
{
    display: block;
    clip: rect(0px, 78px, 156px, 0px);
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80%;
    height: 80%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    z-index: -3;
}

#l-bar,
#r-bar
{
    position: absolute;
    background: #47ACDC;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    z-index: -2;
}

#l-bar
{
    clip: rect(0px, 78px, 156px, 0px);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 100%;
    height: 100%;
}

#r-bar
{
    display: none;
    clip: rect(0px, 156px, 156px, 78px);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 100%;
    height: 100%;
}

#progressbarfiller
{
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 95%;
    height: 95%;
    background: Black;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.buttonLeft
{
    background-image: url('BoxLeft.png');
    width: 4px;
    height: 32px;
}

.buttonFiller
{
    background-image: url('BoxFiller.png');
    width: 42px;
    height: 32px;
}

.buttonRight
{
    background-image: url('BoxRight.png');
    width: 4px;
    height: 32px;
}

.buttonOverLeft
{
    background-image: url('BoxOverLeft.png');
    width: 4px;
    height: 32px;
}

.buttonOverFiller
{
    background-image: url('BoxOverFiller.png');
    width: 42px;
    height: 32px;
}

.buttonOverRight
{
    background-image: url('BoxOverRight.png');
    width: 4px;
    height: 32px;
}

.buttonDownLeft
{
    background-image: url('BoxDownLeft.png');
    width: 4px;
    height: 32px;
}

.buttonDownFiller
{
    background-image: url('BoxDownFiller.png');
    width: 42px;
    height: 32px;
}

.buttonDownRight
{
    background-image: url('BoxDownRight.png');
    width: 4px;
    height: 32px;
}

#standbyLeft
{
    position: absolute;
}

#standbyFiller
{
    position: absolute;
    left: 4px;
}

#standbyRight
{
    position: absolute;
    right: 0px;
}

#standby
{
    position: absolute;
    top: 10%;
    left: 11px;
    width: 50px;
    height: 32px;
}

#standbyHit
{
    width: 100%;
    height: 100%;
    z-index: 20;
}

#standbyWrapper
{
    pointer-events: none;
    position: absolute;
    top: 10%;
    left: 50%;
}

.buttonStandbyImage
{
    pointer-events: none;
    position: relative;
    background-image: url('StandbyOn.png');
    left: -50%;
    width: 22px;
    height: 23px;
}

#configurationLeft
{
    position: absolute;
}

#configurationFiller
{
    position: absolute;
    left: 4px;
}

#configurationRight
{
    position: absolute;
    right: 0px;
}

#configuration
{
    position: absolute;
    top: 10%;
    right: 15px;
    width: 50px;
    height: 32px;
}


#bottombarfiller
{
    background-image: url('TopBarFiller.png');
    width: 100%;
    height: 42px;
}

#bottombar
{
    position: absolute;
    bottom: 3px;
    width: 100%;
    z-index: -2;
}

#logowrapper
{
    position: absolute;
    top: 10%;
    left: 50%;
}

#logo
{
    background-image: url('LinnLogo.png');
    position: relative;
    width: 26px;
    height: 33px;
    left: -50%;
}