<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no" />

    <script type="text/javascript" src="/Common/Scripts/jquery-1.4.2.min.js"></script>
    <!-- jquery 1.4.2 appears to have a memory leak in an ajax request on IE8. -->
    <script type="text/javascript" src="/Common/Scripts/prototype.js"></script>
    <script type="text/javascript" src="/Common/Scripts/jquery-ui-1.8rc3.custom.min.js"></script>
    <script type="text/javascript" src="/Common/Scripts/jquery.json.js"></script>
    <script type="text/javascript" src="/Common/Scripts/jquery.xml2json.js"></script>
    <script type="text/javascript" src="/Common/Scripts/jquery.timer.js"></script>
    <script type="text/javascript" src="/Common/Scripts/jquery.jsonrequest.js"></script>
    <script type="text/javascript" src="/Common/Scripts/jquery.selectboxes.min.js"></script>
    <script type="text/javascript" src="/Common/Scripts/jquery.contextmenu.js"></script>
    <script type="text/javascript" src="/Common/Scripts/core.js"></script>
    <script type="text/javascript" src="/Common/Scripts/Widgets/Widget.js"></script>
    <script type="text/javascript" src="/Common/Scripts/Widgets/WidgetContainer.js"></script>
    <script type="text/javascript" src="/Common/Scripts/Widgets/VolumeControl.js"></script>
    <script type="text/javascript" src="/Common/Scripts/Widgets/VolumeControlMobile.js"></script>
    <script type="text/javascript" src="/Common/Scripts/Widgets/Browser.js"></script>
    <script type="text/javascript" src="/Common/Scripts/Widgets/TransportControl.js"></script>
    <script type="text/javascript" src="/Common/Scripts/Widgets/RoomSelector.js"></script>
    <script type="text/javascript" src="/Common/Scripts/Widgets/RoomSelectorMobile.js"></script>
    <script type="text/javascript" src="/Common/Scripts/Widgets/SourceSelector.js"></script>
    <script type="text/javascript" src="/Common/Scripts/Widgets/SourceSelectorMobile.js"></script>
    <script type="text/javascript" src="/Common/Scripts/Widgets/MediaTime.js"></script>
    <script type="text/javascript" src="/Common/Scripts/Widgets/MediaTimeMobile.js"></script>
    <script type="text/javascript" src="/Common/Scripts/Widgets/Playlist.js"></script>
    <script type="text/javascript" src="/Common/Scripts/Widgets/Track.js"></script>
    <script type="text/javascript" src="/Common/Scripts/Widgets/Breadcrumb.js"></script>
    <script type="text/javascript" src="/Common/Scripts/Widgets/BreadcrumbMobile.js"></script>
    <script type="text/javascript" src="/Common/Scripts/Widgets/UpDirectory.js"></script>
    <script type="text/javascript" src="/Common/Scripts/Widgets/PlayMode.js"></script>
    <script type="text/javascript" src="/Common/Scripts/Widgets/WasteBin.js"></script>
    <script type="text/javascript" src="/Common/Scripts/Widgets/StandbyButton.js"></script>
    <script type="text/javascript" src="/Layouts/Portrait/Medium/Scripts/kinsky.js"></script>
    <link rel="stylesheet" type="text/css" href="/Common/CSS/jquery.contextmenu.css" />
    <link rel="stylesheet" type="text/css" href="/Layouts/Portrait/Medium/CSS/kinsky.css" />
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="/Layouts/Portrait/Medium/CSS/kinsky_ie7.css" /><![endif]-->
    <link rel="stylesheet" type="text/css" href="/Layouts/Portrait/Medium/CSS/Widgets/VolumeControl.css" />
    <link rel="stylesheet" type="text/css" href="/Layouts/Portrait/Medium/CSS/Widgets/Browser.css" />
    <link rel="stylesheet" type="text/css" href="/Layouts/Portrait/Medium/CSS/Widgets/TransportControl.css" />
    <link rel="stylesheet" type="text/css" href="/Layouts/Portrait/Medium/CSS/Widgets/RoomSelector.css" />
    <link rel="stylesheet" type="text/css" href="/Layouts/Portrait/Medium/CSS/Widgets/SourceSelector.css" />
    <link rel="stylesheet" type="text/css" href="/Layouts/Portrait/Medium/CSS/Widgets/MediaTime.css" />
    <link rel="stylesheet" type="text/css" href="/Layouts/Portrait/Medium/CSS/Widgets/Track.css" />
    <link rel="stylesheet" type="text/css" href="/Layouts/Portrait/Medium/CSS/Widgets/Breadcrumb.css" />
    <link rel="stylesheet" type="text/css" href="/Layouts/Portrait/Medium/CSS/Widgets/UpDirectory.css" />
    <link rel="stylesheet" type="text/css" href="/Layouts/Portrait/Medium/CSS/Widgets/PlayMode.css" />
    <link rel="stylesheet" type="text/css" href="/Layouts/Portrait/Medium/CSS/Widgets/WasteBin.css" />
    <link rel="stylesheet" type="text/css" href="/Layouts/Portrait/Medium/CSS/Widgets/StandbyButton.css" />
</head>
<body>
    <div id="Container">
        <ul id="TabContainerTop" class="TabContainer">
            <li id="NowPlayingTab"><a href="#PanelNowPlaying" rel="Panel" class="Selected">Now Playing</a></li>
            <li id="MediaTab"><a href="#PanelBrowser" rel="Panel">Media</a></li>
            <li id="PlaylistTab" class="EndTab"><a href="#PanelPlaylist" rel="Panel">Playlist</a></li>
            <li id="DebugTab"><a href="#PanelDebug" rel="Panel">Debug</a></li>
        </ul>
        <div id="TabContent">
            <div id="PanelNowPlaying" class="Panel Selected">
                <div id="Track"></div>
                <div id="Controls">
                    <div id="MediaTime"></div>
                    <div id="VolumeControl"></div>
                    <div id="TransportControl"></div>
                </div>
                <div id="ClearingDiv"></div>
                <div id="RoomSelector"></div>
                <div id="Standby"></div>
                <div id="SourceSelector"></div>
            </div>
            <div id="PanelBrowser" class="Panel">
                <div id="BrowserControls">
                    <div id="UpDirectory"></div>
                    <div id="Breadcrumb"></div>
                </div>
                <div id="Browser"></div>
            </div>
            <div id="PanelPlaylist" class="Panel">
                <div id="PlaylistControls">
                    <div id="WasteBin"></div>
                    <div id="PlayMode"></div>
                </div>
                <div id="Playlist"></div>
            </div>
            <div id="PanelDebug" class="Panel">
                <div id="DebugClear">Clear</div>
                <div id="DebugPause">Pause</div>
                <div id="DebugConsole"></div>
            </div>
            <span id="DisconnectOverlay">
                <span id="OpacityOverlay"></span>
                <span id="DisconnectMessage" class="ui-corner-all">Connecting...</span>
            </span>      
        </div>
    </div>   
</body>
</html>
