#TransportControlThreeKArray
{
	background-image:url('../../Images/Widgets/3kArray.png');
	background-repeat:no-repeat;
	width:153px;
	height:90px;
	position:relative;
	padding:0;
	display:inline-block;	
}

#TransportControlTransportButton
{
	position:absolute;
	left:48px;
	top:18px;
	border-style:none;
}

#TransportControlPreviousButton,
#TransportControlNextButton
{
	position:absolute;
	border-style:none;
}

#TransportControlNextButton
{
	left:105px;
	top:28px;
}	
#TransportControlPreviousButton
{
	left:17px;
	top:28px;
}		
